:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #24211C;
  --white: #fff;
  --dark-gray: #2C2820;
  --dark-warm-gray: #5C5C5C;
  --light-warm-gray: #7C7C7C;
  --dark-cold-gray: #474A4C;
  --light-cold-gray: #868E94;
  --light-gray:#D9D9D9;
  --ultralight-gray: #F1F1F1;
  --white-gray: #F9F9F9;
  --beige: #EEE7DF;
  --dark-blue: #3A4651;

}
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
  -webkit-overflow-scrolling: touch;
  background-color: white;
  color: #1a1a1a;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  background-color: var(--white-gray);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:focus,
button:active,
button:visited {
  outline: none !important;
  box-shadow: none !important;
}

button:disabled {
  opacity: 0.7;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*{
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  display: none;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .container {
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
  }

  .sidebar {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
